.CategoriesNav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.CategoriesNav {
    padding: 0 20px;
    width: 20%;
}
.CategoriesNav ul a {
    text-decoration: none;
    color: #6392dd;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 15px;
}
.CategoriesNav ul a:hover {
    text-decoration: underline;
}
