.Form form {
    display: flex;
    flex-direction: column;
}
.Form {
    width: 60%;
    margin: 0 auto;
}
label {
    margin-bottom: 5px;
}
#categories {
    width: 300px;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    border: 1px solid grey;
    outline: none;
    margin-bottom: 10px;
}
#author {
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    border: 1px solid grey;
    outline: none;
    margin-bottom: 10px;
}
#text {
    height: 90px;
    background: #ffffff;
    border: 1px solid grey;
    outline: none;
    margin-bottom: 10px;
    max-width: 100%;
    min-width: 100%;
}
.Form button {
    width: 50%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background: #6392dd;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}
.Form button:hover {
    opacity: 0.75;
}
