.Quote {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.Quote a,
.Quote button {
    width: 25px;
    height: 25px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.Quote button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}
.Quote a:hover,
.Quote button:hover {
    opacity: 0.75;
}
.QuoteText {
    max-width: 85%;
}
.QuoteText p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}
.QuoteText h3 {
    margin: 0;
    font-style: italic;
    font-size: 12px;
}
