.NavBar ul {
    display: flex;
    list-style: none;
}
.NavBar ul li {
    margin-right: 10px;
}
.NavBar ul li a {
    display: inline-block;
    padding: 3px 10px;
    background: #6392dd;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
}
.NavBar ul li a:hover {
    opacity: 0.75;
}
